#background {
    background-color: rgb(44, 44, 116);
}

body {
    min-height: 100vh;
    margin: 0;

    background: linear-gradient(
        270deg,
        #0a1a3a,
        #09367a,
        #115b9b,
        #0a5273
    );
    background-size: 600% 600%;

    animation: gradientMove 20s ease infinite;
}

/* Animazione gradiente */
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

